---
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout back>
  <h1 class="head-1 mb-4">Typography</h1>

  <p class="mb-8">shows all utility classes inside the typography preset.</p>

  <Section>
    <h2 class="head-2">Heading Classes</h2>
    <p>
      All heading classes from <code class="code">head-1</code> to <code
        class="code">head-6</code
      >.
    </p>
    <div class="flex flex-col gap-2 border border-surface-400-600 rounded p-4">
      <div class="head-1">Heading 1</div>
      <div class="head-2">Heading 2</div>
      <div class="head-3">Heading 3</div>
      <div class="head-4">Heading 4</div>
      <div class="head-5">Heading 5</div>
      <div class="head-6">Heading 6</div>
      <div class="heading-base">Heading Base</div>
    </div>
  </Section>

  <Section>
    <h2 class="head-2">Anchor</h2>
    <div
      class="flex flex-col items-center justify-center gap-2 border border-surface-400-600 rounded p-4"
    >
      <a href="#" class="anchor">Anchor</a>
      <a href="#" class="anchor-base">Anchor-Base</a>
    </div>
  </Section>

  <Section>
    <h2 class="head-2">Blockquote</h2>
    <blockquote class="blockquote">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nobis ab ut
      quidem, itaque explicabo sit eum alias nulla corporis accusamus. Officia
      explicabo sit sed magnam at, animi deleniti repellat quam! Doloremque
      perferendis porro nesciunt inventore aspernatur nobis, harum minima sint
      tempore dolores aut id placeat odio sapiente maiores fugiat modi velit
      quas nihil doloribus magni cumque ducimus? Consequatur, sunt!
    </blockquote>
  </Section>
  <Section>
    <h2 class="head-2">Code Block</h2>
    <pre
      class="code-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde ex minus voluptatibus illo exercitationem ad nobis quisquam! Doloribus fugit alias quidem? Facilis eligendi sunt earum illo, tempora laborum libero odit.</pre>
  </Section>

  <Section>
    <h2 class="head-2">code</h2>
    <p>the <code class="code">code</code> in this sentence is coded.</p>
  </Section>

  <Section>
    <h2 class="head-2">kbd</h2>
    <p>Press <kbd class="kbd">⌘ + Q</kbd> to toggle dark mode.</p>
  </Section>
</Layout>
