---
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout back>
  <h1 class="head-1 mb-4">pip</h1>
  <p>badges and button classes.</p>

  <Section>
    <h2 class="head-2">Buttons</h2>
    <div class="flex gap-4 flex-col border-surface-400-600 border p-4 rounded">
      <div class="flex items-center gap-4 flex-wrap">
        <button class="btn-static">button static</button>
        <button class="btn">button</button>
        <button class="btn filled-primary-200-800">button with filled</button>
        <button class="btn filled-primary-200-800" disabled>disabled</button>
      </div>
      <div class="flex items-center gap-4 flex-wrap">
        <button class="btn btn-xs filled-primary-400-600">extra small</button>
        <button class="btn btn-sm filled-primary-400-600">small</button>
        <button class="btn btn-base filled-primary-400-600">medium/base</button>
        <button class="btn btn-lg filled-primary-400-600">large</button>
      </div>
      <div class="flex flex-col gap-2">
        <button class="btn-full-static">full button static</button>
        <button class="btn-full">full button</button>
        <button class="btn-full filled-primary-50-950"
          >full button with filled</button
        >
        <button class="btn-full filled-primary-50-950" disabled
          >full button disabled</button
        >
      </div>
    </div>
    <h3 class="head-3">Button Icons</h3>
    <p>
      <code class="code">btn-icon-static</code>, <code class="code"
        >btn-icon</code
      >, <code class="code">btn-icon</code> filled, <code class="code">disabled</code>, and their sizes.
    </p>
    <div class="flex gap-4 flex-col border-surface-400-600 border p-4 rounded">
      <div class="flex items-center gap-4 flex-wrap">
        <button class="btn-icon-static">💀</button>
        <button class="btn-icon">💀</button>
        <button class="btn-icon filled-primary-400-600">💀</button>
        <button class="btn-icon filled-primary-400-600" disabled>💀</button>
      </div>
      <div class="flex items-center gap-4 flex-wrap">
        <button class="btn-icon btn-icon-sm filled-primary-400-600">💀</button>
        <button class="btn-icon btn-icon-base filled-primary-400-600">💀</button
        >
        <button class="btn-icon btn-icon-lg filled-primary-400-600" disabled
          >💀</button
        >
      </div>
    </div>
  </Section>

  <Section>
    <h2 class="head-2">Badges</h2>
    <div class="flex gap-4 flex-col border-surface-400-600 border p-4 rounded">
      <div class="flex items-center gap-4 flex-wrap">
        <div class="badge">badge</div>
        <div class="badge filled-primary-400-600">badge filled</div>
      </div>
      <div class="flex items-center gap-4 flex-wrap">
        <div class="badge badge-base filled-primary-400-600">normal</div>
        <div class="badge badge-lg filled-primary-400-600">large</div>
      </div>
    </div>
    <h3 class="head-3">Badge Icons</h3>
    <p>
      <code class="code">badge-icon</code>, <code class="code">badge-icon</code> filled, and their sizes.
    </p>
    <div class="flex gap-4 flex-col border-surface-400-600 border p-4 rounded">
      <div class="flex items-center gap-4 flex-wrap">
        <div class="badge-icon">💀</div>
        <div class="badge-icon filled-primary-400-600">💀</div>
      </div>
      <div class="flex items-center gap-4 flex-wrap">
        <div class="badge-icon badge-icon-base filled-primary-400-600">💀</div>
        <div class="badge-icon badge-icon-lg filled-primary-400-600">💀</div>
      </div>
    </div>
  </Section>
</Layout>
