@utility brightness-base {
  filter: brightness(125%);

  @variant dark {
    filter: brightness(75%);
  }
}

@utility brightness-container {
  filter: brightness(95%);

  @variant dark {
    filter: brightness(110%);
  }
}