@use "sass:list";

$color-names: (primary, secondary, tertiary, success, warning, error, surface);
$color-shades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950);
$color-pairings: (
  (50, 950),
  (100, 900),
  (200, 800),
  (300, 700),
  (400, 600),
  (600, 400),
  (700, 300),
  (800, 200),
  (900, 100),
  (950, 50)
);

@function pair($name, $pair) {
  $light: list.nth($pair, 1);
  $dark: list.nth($pair, 2);
  @return light-dark(var(--color-#{$name}-#{$light}), var(--color-#{$name}-#{$dark}));
}

@function pair-contrast($name, $pair) {
  $light: list.nth($pair, 1);
  $dark: list.nth($pair, 2);
  @return light-dark(var(--color-#{$name}-contrast-#{$light}), var(--color-#{$name}-contrast-#{$dark}));
}
