---
import "../app.css";
const { back } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <main class="max-w-280 mx-auto px-4">
      <div class="py-24">
        {
          back && (
            <nav class="mb-4">
              <a href="../" class="anchor">
                ⬅️ Back
              </a>
            </nav>
          )
        }
        <slot />
      </div>
    </main>
  </body>
</html>

<script is:inline>
  if (localStorage.getItem("is-dark") === "true") {
    document.documentElement.classList.add("dark");
  }
</script>

<script>
  document.addEventListener("keydown", function (event) {
    if (event.ctrlKey && event.key.toLowerCase() === "q") {
      event.preventDefault();
      document.documentElement.classList.toggle("dark");
      localStorage.setItem(
        "is-dark",
        document.documentElement.classList.contains("dark") ? "true" : "false"
      );
    }
  });
</script>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
