@theme {
  /* Color Sets */
  --color-primary-50: oklch(93.95% 0.03 275.18deg);
  --color-primary-100: oklch(86.5% 0.06 279.15deg);
  --color-primary-200: oklch(79.21% 0.1 278.8deg);
  --color-primary-300: oklch(71.75% 0.14 277.75deg);
  --color-primary-400: oklch(64.67% 0.17 276.05deg);
  --color-primary-500: oklch(57.82% 0.21 273.83deg);
  --color-primary-600: oklch(54.35% 0.21 273.38deg);
  --color-primary-700: oklch(50.88% 0.21 272.81deg);
  --color-primary-800: oklch(47.4% 0.21 272.5deg);
  --color-primary-900: oklch(43.97% 0.21 271.59deg);
  --color-primary-950: oklch(40.59% 0.21 270.47deg);

  --color-secondary-50: oklch(90.16% 0.09 326.33deg);
  --color-secondary-100: oklch(84.48% 0.12 333.85deg);
  --color-secondary-200: oklch(78.99% 0.14 339.7deg);
  --color-secondary-300: oklch(74.01% 0.17 344.23deg);
  --color-secondary-400: oklch(69.33% 0.2 348.34deg);
  --color-secondary-500: oklch(65.32% 0.22 351.98deg);
  --color-secondary-600: oklch(59.53% 0.2 351.92deg);
  --color-secondary-700: oklch(53.6% 0.17 351.21deg);
  --color-secondary-800: oklch(47.56% 0.14 351.06deg);
  --color-secondary-900: oklch(41.41% 0.11 349.93deg);
  --color-secondary-950: oklch(35.13% 0.08 349.66deg);

  --color-tertiary-50: oklch(91.18% 0.04 241.37deg);
  --color-tertiary-100: oklch(86.71% 0.06 242.76deg);
  --color-tertiary-200: oklch(82.12% 0.09 244.81deg);
  --color-tertiary-300: oklch(77.83% 0.11 245.07deg);
  --color-tertiary-400: oklch(73.51% 0.13 246.76deg);
  --color-tertiary-500: oklch(69.63% 0.15 248.03deg);
  --color-tertiary-600: oklch(64.72% 0.14 248.98deg);
  --color-tertiary-700: oklch(59.49% 0.14 250.59deg);
  --color-tertiary-800: oklch(54.48% 0.13 252.33deg);
  --color-tertiary-900: oklch(49.02% 0.13 254.3deg);
  --color-tertiary-950: oklch(43.67% 0.12 255.89deg);

  --color-success-50: oklch(97.86% 0.03 165.27deg);
  --color-success-100: oklch(94.75% 0.07 158.14deg);
  --color-success-200: oklch(92.04% 0.1 155.45deg);
  --color-success-300: oklch(89.46% 0.14 153.85deg);
  --color-success-400: oklch(87.35% 0.17 152.06deg);
  --color-success-500: oklch(85.35% 0.2 150.31deg);
  --color-success-600: oklch(78.3% 0.19 149.17deg);
  --color-success-700: oklch(71.13% 0.19 147.68deg);
  --color-success-800: oklch(63.55% 0.18 146.43deg);
  --color-success-900: oklch(56.11% 0.17 144.85deg);
  --color-success-950: oklch(48.5% 0.16 143.68deg);

  --color-warning-50: oklch(97.1% 0.06 99.18deg);
  --color-warning-100: oklch(96.05% 0.08 99.78deg);
  --color-warning-200: oklch(95.06% 0.11 100.04deg);
  --color-warning-300: oklch(93.84% 0.13 100.18deg);
  --color-warning-400: oklch(92.97% 0.14 100.18deg);
  --color-warning-500: oklch(92.15% 0.16 100.08deg);
  --color-warning-600: oklch(85.58% 0.15 99.65deg);
  --color-warning-700: oklch(78.91% 0.15 99.06deg);
  --color-warning-800: oklch(72.1% 0.14 98.32deg);
  --color-warning-900: oklch(65.16% 0.13 97.22deg);
  --color-warning-950: oklch(58.05% 0.12 95.69deg);

  --color-error-50: oklch(90.63% 0.05 32.16deg);
  --color-error-100: oklch(84.19% 0.08 24.55deg);
  --color-error-200: oklch(77.94% 0.11 21.98deg);
  --color-error-300: oklch(72.4% 0.15 22.43deg);
  --color-error-400: oklch(67.24% 0.18 22.95deg);
  --color-error-500: oklch(63.16% 0.21 24.5deg);
  --color-error-600: oklch(58.83% 0.2 24.7deg);
  --color-error-700: oklch(54.51% 0.19 25.46deg);
  --color-error-800: oklch(49.87% 0.18 25.74deg);
  --color-error-900: oklch(45.39% 0.16 26.68deg);
  --color-error-950: oklch(40.77% 0.15 27.15deg);

  --color-surface-50: oklch(97.02% 0 none);
  --color-surface-100: oklch(87.95% 0 287.19deg);
  --color-surface-200: oklch(78.67% 0 286.54deg);
  --color-surface-300: oklch(69.28% 0 271.46deg);
  --color-surface-400: oklch(59.39% 0.01 277.15deg);
  --color-surface-500: oklch(49.02% 0.01 278.52deg);
  --color-surface-600: oklch(44.35% 0.01 278.47deg);
  --color-surface-700: oklch(39.51% 0.01 277deg);
  --color-surface-800: oklch(34.3% 0.01 285.88deg);
  --color-surface-900: oklch(29.11% 0.01 285.87deg);
  --color-surface-950: oklch(23.72% 0.01 285.68deg);
}

@theme inline {
  /* Color Contrasts */
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-light);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);

  --color-secondary-contrast-dark: oklch(0% 0 none);
  --color-secondary-contrast-light: oklch(100% 0 none);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-600: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);

  --color-tertiary-contrast-dark: oklch(0% 0 none);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);

  --color-success-contrast-dark: oklch(0% 0 none);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-dark);
  --color-success-contrast-800: var(--color-success-contrast-dark);
  --color-success-contrast-900: var(--color-success-contrast-dark);
  --color-success-contrast-950: var(--color-success-contrast-light);

  --color-warning-contrast-dark: oklch(0% 0 none);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-dark);
  --color-warning-contrast-800: var(--color-warning-contrast-dark);
  --color-warning-contrast-900: var(--color-warning-contrast-dark);
  --color-warning-contrast-950: var(--color-warning-contrast-dark);

  --color-error-contrast-dark: oklch(0% 0 none);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-dark);
  --color-error-contrast-600: var(--color-error-contrast-dark);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);

  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}