@utility preset-filled-* {
  background-color: --value(--color-mix-*);
  color: --value(--color-mix-*--contrast);
}

@utility preset-tonal-* {
  color: --value(--tonal-*);
  background-color: --value(--tonal-*--contrast);
}

@utility preset-outline-* {
  color: --value(--color-*);
}