---
import Layout from "../layouts/Layout.astro";
import Colors from "./_components/Colors.astro";
---

<Layout>
  <h1 class="head-1 mb-4">
    Welcome to the Stratum Core Playground!
  </h1>
  <p>
    For now, we'll just display all of the things that the core <code
      class="code">stratum</code
    > package here. Press <kbd class="kbd">⌘ + Q</kbd> to toggle dark mode.
  </p>
  <Colors />
</Layout>
