---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <button class="text-primary-950-50 filled-primary-200-800 pip pip-hover">
    Hello Stratum!
  </button>

  <input class="focusable-error-100-900 rounded-base p-1" />
</Layout>
