---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="head-1 mb-4">
    Welcome to the Stratum Core Playground!
  </h1>
  <p class="">
    For now, we'll just display all of the things that the core <code
      class="code">stratum</code
    > package here.
  </p>
</Layout>
