/* Some properties cannot be automated with tailwind so we have to supply them ourselves */
@utility heading-font-style {
  font-style: var(--heading-font-style);
}

@utility anchor-font-style {
  font-style: var(--anchor-font-style, inherit);
}

@utility anchor-text-underline-offset {
  text-underline-offset: var(--anchor-text-underline-offset);
}

@utility anchor-text-underline-offset-active {
  text-underline-offset: var(--anchor-text-underline-offset-active);
}

@utility anchor-text-decoration {
  text-decoration: var(--anchor-text-decoration-light, none);

  @variant dark {
    text-decoration: var(--anchor-text-decoration-dark, none);
  }
}

@utility anchor-text-decoration-active {
  text-decoration: var(--anchor-text-decoration-active-light, none);

  @variant dark {
    text-decoration: var(--anchor-text-decoration-active-dark, none);
  }
}