/* holds the heading's static styles without the configuration of responsive font-sizes */
@utility heading-base {
  @apply text-base-heading-light dark:text-base-heading-dark;
  @apply font-base-heading font-base-heading-weight tracking-base-heading heading-font-style;
}

/* A set of resonsive text sizes */
@utility h1 {
  @apply heading-base;
  font-size: var(--text-4xl);
  line-height: var(--text-4xl--line-height);

  @variant md {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl--line-height);
  }
}

@utility h2 {
  @apply heading-base;
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);

  @variant md {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
  }
}

@utility h3 {
  @apply heading-base;
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);

  @variant md {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
  }
}

@utility h4 {
  @apply heading-base;
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);

  @variant md {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
  }
}

@utility h5 {
  @apply heading-base;
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);

  @variant md {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
  }
}

@utility h6 {
  @apply heading-base;
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);

  @variant md {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
  }
}
