@use "sass:list";
@use "../constants.scss";

// including mixins instead of directly applying it to `@theme` is a 
// bit of a hacky way to avoid linting/build errors from sass since it
// doesn't recognize `@theme` as an at-rule or selector.

@mixin theme-reset {
  /* Font Reset */
  --text-#{'\2A'}: initial;

  /* Color Reset */
  --color-#{'\2A'}: initial;
  --color-transparent: transparent;

  /* Scalar Properties */
  --spacing: 0.25rem;
  --text-scaling: 1;
}

@mixin text-sizes {
  --text-xs: calc(var(--text-scaling) * 0.75rem);
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: calc(var(--text-scaling) * 0.875rem);
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: calc(var(--text-scaling) * 1rem);
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: calc(var(--text-scaling) * 1.125rem);
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: calc(var(--text-scaling) * 1.25rem);
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: calc(var(--text-scaling) * 1.5rem);
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: calc(var(--text-scaling) * 1.875rem);
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: calc(var(--text-scaling) * 2.25rem);
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: calc(var(--text-scaling) * 3rem);
  --text-5xl--line-height: 1;
  --text-6xl: calc(var(--text-scaling) * 3.75rem);
  --text-6xl--line-height: 1;
  --text-7xl: calc(var(--text-scaling) * 4.5rem);
  --text-7xl--line-height: 1;
  --text-8xl: calc(var(--text-scaling) * 6rem);
  --text-8xl--line-height: 1;
  --text-9xl: calc(var(--text-scaling) * 8rem);
  --text-9xl--line-height: 1;
}

@mixin color-pairings {
  @each $name in constants.$color-names {
    @each $pair in constants.$color-pairings {
      $light: list.nth($pair, 1);
      $dark: list.nth($pair, 2);
      --color-#{$name}-#{$light}-#{$dark}: #{constants.pair($name, $pair)};
      --color-contrast-#{$name}-#{$light}-#{$dark}: #{constants.pair-contrast($name, $pair)};
    }
  }
}

@theme {
  @include theme-reset;
}

@theme inline {
  @include text-sizes;
  @include color-pairings;
}